*.autosave
*.pyc
*.user
*~
.*.swp
.DS_Store
.sw[a-z]
.vs/
Thumbs.db
tags
tegra/
bin/
.source_insight/
*.sdf
*.opensdf
*.o
*.obj
*.so
*.stamp
*.depend
*.rule
*.tmp
Debug/
.svn/*
*/.svn/
*/Debug
*/debug
*/Debug/
*/debug/
*/Debug/*
*/debug/*
*.suo
*.log
*.tlog
.cache
